@model CommentForm_Spring2017.Models.CommentFormViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment.CommentText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment.CommentText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment.Priority)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.comment.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
